<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

<div class="footer my-5">
   <hr>
   <h5 class="font-weight-bold">
      &copy; Frank P Runfola;|<a href="/">Home</a>
   </h5>
</div>
