<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
   <!-- Brand -->
   <a class="navbar-brand font-weight-bold" href="/">
      <img style="height:30px; width:30px;"
         src="https://image.flaticon.com/icons/svg/149/149031.svg"/>
   </a>

   <!-- Toggler/collapsibe Button -->
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
      <i class="fas fa-bars fa-2.5x"></i>
   </button>

   <!-- Navbar links -->
   <div class="navbar-collapse collapse" id="navbarContent">

      <ul class="nav navbar-nav navbar-right">
         <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/nfl">NFL Stats</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/tools">Tools</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/flex">Flex</a>
         </li>
      </ul>

   </div>
</nav>
