<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
   <!-- Brand -->
   <a class="navbar-brand mb-0 h1" href="/">NFL Stats</a>

   <!-- Toggler/collapsibe Button -->
   <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
      <i class=" fas fa-bars fa-2.5x"></i>
   </button>

   <!-- Navbar links -->
   <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-nav navbar-right">
         <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/rushing">Rushing</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/passing">Passing</a>
         </li>
      </ul>
   </div>
</nav>