<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <%- include('partials/nav') %>

   <!-- **************** CONTAINER ********************-->
   <div class="container-fluid">

      <h2 id="title">Passing Yards</h2>

      <!-- ***************** TABLE ********************-->
      <div> <img src="http://imgh.us/2692.svg" alt="hammer and pick" style="font-size: 0.30em;" onmousedown="return false">
         <h1 class="text1">COMING SOON</h1>
         <h3 class="uc">Under Construction!</h3>
      </div>

      <footer>
         <%- include('partials/footer') %>
      </footer>
   </div>

   <script type="text/javascript" src="javascripts/passing.js"></script>
</body>

</html>
 
