
  <div> <img src="http://imgh.us/2692.svg" alt="hammer and pick" style="font-size: 0.30em;" class="hammer" onmousedown="return false">
    <h1 class="text1">COMING SOON</h1>
    <h3 class="uc">Under Construction!</h3>
  </div>
