<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleFamilyTree.css" />
</head>

<body>
    <%- include('partials/nav') %>

    <!-- **************** CONTAINER ********************-->
    <div class="container-fluid">

        <h2 id="title">Family Tree</h2>

        <!-- ***************** TABLE ********************-->
        <div>
            <img src="/images/underConstruction.jpg" class="underConstruction my-2">
        </div>

        <footer>
            <%- include('partials/footer') %>
        </footer>
    </div>

    <script type="text/javascript" src="javascripts/familyTree.js"></script>
</body>


</html>
