<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleFamilyTree.css" />
</head>

<body>
    <!-- **************** NAVIGATION ********************-->
    <%- include('partials/nav') %>

    <!-- **************** CONTAINER ********************-->
    <div class="container-fluid">

        <h2 id="title">Family Tree</h2>

        <!-- ***************** TABLE ********************-->
        <div> <img src="/images/underConstruction.jpg" class="underConstruction my-2"> </div>

        <!-- **************** FOOTER ********************-->
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <!-- **************** SCRIPTS ********************-->
    <%- include('partials/scripts') %>
    <script type="text/javascript" src="/scripts/familyTree.js"></script>
</body>

</html>