<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <%- include('partials/nav') %>

   <!-- **************** CONTAINER ********************-->
  

      <style>
.container { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: beige;
  height: 70%;
  flex-wrap: wrap;
  margin: 100px 50px;
  }
.red {
  background: orangered;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}
.container > div {
  font-size: 20px;
  padding: 10px;
  color: white;
  width: 100px;
  Border: 1px solid black;
}
body {
  margin: 0;
  Text-align:center;
}
</style>

<div class="container">
  <div class="red">1</div>
  <div class="green">2</div>
  <div class="blue">3</div>
  <div class="red">4</div>
  <div class="green">5</div>
  <div class="blue">6</div>
</div>
  

      <div class="card align-items-middle">
        <img class="card-img-top" src="https://img.pngio.com/3dqb-drew-brees-png-hd-358_309.png">
        <div class="card-body">
          <a href="/passing" class="btn btn-dark">Passing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/sathyja1arm00kfpzieb.png">
        <div class="card-body">
          <a href="/rushing" class="btn btn-dark">Rushing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/w_400,f_png/nfl100/gnu3tgv2vuqwev6eiuju.png">
        <div class="card-body">
          <a href="/receiving" class="btn btn-dark">Receiving Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://www.seekpng.com/png/detail/159-1591343_rob-gronkowski-render-comments-rob-gronkowski-transparent-patriots.png">
        <div class="card-body">
          <a href="/tightend" class="btn btn-dark">Tightend</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://png2.cleanpng.com/sh/2c8f918369be2a01c11564bdb0bcdfa7/L0KzQYm3VsA0N6VugJH0aYP2gLBuTfFubaNue9N3LXbyf8XpgfxtNZlqhN9udIOwcsbthvFtd15ngd51cz3xdr20VfIyPGM1faNrOEbmdIO1UcIzPGQ9SKk6NUK7QIW8V8k0P2Y6TJD5bne=/kisspng-american-football-helmets-buffalo-bills-nfl-5b1420e1b86cd2.1224380715280457937554.png">
        <div class="card-body">
          <a href="/defense" class="btn btn-dark">Defense</a>
        </div>
      </div>

  
      <footer>
         <%- include('partials/footer') %>
      </footer>
   

   <script type="text/javascript" src="javascripts/passing.js"></script>
</body>

</html>
