<!doctype html>
<title>Example</title>
<style>
.container { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: beige;
  height: 70%;
  flex-wrap: wrap;
  margin: 100px;
  }
.red {
  background: orangered;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}
.container > div {
  font-size: 5vw;
  padding: .5em;
  color: white;
  width: 60%;
}
body {
  margin: 0;
  Text-align:center;
}
</style>
<div class="container">
  <div class="red">1</div>
  <div class="green">2</div>
  <div class="blue">3</div>
  <div class="red">4</div>
  <div class="green">5</div>
  <div class="blue">6</div>
</div>
