  <% layout('/layouts/boilerplate')%>

  <div class="landing-container">

    <a href="\movies">
      <div class="card">
        <img src="/images/movies.png" />
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\sports">
      <div class="card">
        <img src="/images/sports.png" />
        <h5>Sports</h5>
      </div>
    </a> 

    <a href="\tools">
      <div class="card">
        <img src="/images/tools.png" />
        <h5>Sports</h5>
      </div>
    </a> 

  </div>