<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="bg-gradient-primary">
  <%- include('partials/nav') %>

  <div class="container" style="padding-top:1rem;">

    <div class="jumbotron bg-secondary" style="margin-top:100px;">
      <main class="cards">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">

      </main>
    </div>


    <footer>
      <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>
  </div>

</body>

</html>