<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">

    <a href="\nfl">
      <div class="card">
        <img src="https://r0.pngfuel.com/path/662/687/806/basketball-sports-equipment-sports-league-woodville-tompkins-institute-basketball-7f2106fcda9e8e8a7d8d4ed266cde719.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img src="/images/movie.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\movies">
      <div class="card">
        <img src="/images/movie1.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img src="/images/utility.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\familyTree">
      <div class="card">
        <img src="http://www.jemome.com/cdn/2014/07/family-tree-to-download-icon_68354.png">
        <h5>Family Tree</h5>
      </div>
    </a>

    <a href="\music">
      <div class="card">
        <img src="https://r0.pngfuel.com/path/358/1008/2/text-symbol-brand-apps-file-audio-d40fb366057db7115dbcd0d740f21fc4.png">
        <h5>Music</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
