<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <style>
    .landing-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-shadow: .8px 55px 50px -20px #b6b6b6;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    .card {
      margin: 5px;
      height: 250px;
      width: 250px;
      border: none;
      box-shadow: 0px 3px 5px 1px #c9c7c7;
      background-color: whitesmoke;
      vertical-align: middle;
    }

    img {
      height: 210px;
      width: 220px;
      margin: 8px auto 5px auto;
      border-radius: 5%
    }

    .landing-container a {
      color: black
    }

    @media only screen and (max-width: 560px) {
      h5 {
        font-size: 1rem;
      }

      .card {
        margin: 5px;
        height: 200px;
        width: 200px;
      }

      img {
        height: 160px;
        width: 150px;
        margin: 8px auto;
      }

      .table tbody td {
        font-size: 75%;
      }
    }

    @media only screen and (max-width: 460px) {

      .card {
        height: 2010px;
        width: 200px;
      }

      img {
        height: 170px;
        width: 150px;
      }
    }

    @media only screen and (max-width: 380px) {
      .card {
       height: 210px;
        width: 200px;
      }

      img {
        height: 170px;
        width: 150px;
      }
    }

    @media only screen and (max-width: 340px) {
      .card {
        height: 150px;
        width: 130px;
      }

      img {
        height: 110px;
        width: 100px;
      }
    }
  </style>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\passing">
      <div class="card">
        <img class="card-img-top" src="https://img.pngio.com/3dqb-drew-brees-png-hd-358_309.png">
        <h5>Passing</h5>
      </div>
    </a>
    <a href="\rushing">
      <div class="card">
        <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/sathyja1arm00kfpzieb.png" />
        <h5>Rushing</h5>
      </div>
    </a>
    <a href="\receiving">
      <div class="card">
        <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/w_400,f_png/nfl100/gnu3tgv2vuqwev6eiuju.png" />
        <h5>Receiving</h5>
      </div>
    </a>
    <a href="\defense">
      <div class="card">
        <img src="http://dailydsports.com/wp-content/uploads/2019/06/Bruce-Smith.jpg" />
        <h5>Defense</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
