<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="http://www.pngall.com/wp-content/uploads/1/Sports-PNG-File-Download-Free.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="https://p7.hiclipart.com/path/940/445/158/ticket-film-cinema-cinema-ticket-bbc4c78ae9334f7fd7a535370d42469c.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src=" https://dejpknyizje2n.cloudfront.net/marketplace/products/swiss-army-pocket-knife-icon-1539101907.8507106.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
