<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="landing-container">
    <a href="\movies">
      <div class="card">
        <img src="/images/movies.png" />
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\sports">
      <div class="card">
        <img src="/images/sports.png" />
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img src="/images/tools.png" />
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\familyTree">
      <div class="card">
        <img src="/images/familyTree.png" />
        <h5>Family Tree</h5>
      </div>
    </a>

    <a href="\music">
      <div class="card">
        <img src="/images/music.jpg" />
        <h5>Music</h5>
      </div>
    </a>

    <a href="\computerScience">
      <div class="card">
        <img src="/images/computerScience.png" />
        <h5>Computer Science</h5>
      </div>
    </a>

    <a href="\geography">
      <div class="card">
        <img src="/images/geography.png" />
        <h5>Geography</h5>
      </div>
    </a>

    <a href="\cars">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9Q0wBuqI2j9gNP3exUbVeeC2tiB51OeHw1q1VbhnwIptLUPx9" />
        <h5>Cars</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>
</body>

</html>