<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="landing-container">
    <h2>Choose A Category..</h2>
    <hr>
   <!-- 
    <div class="row mt-1">
      <div class="col-lg-4 col-md-6 col-sm-12 btn-default">
        <span> <img src="https://thumbs.dreamstime.com/z/american-football-quarterback-throw-shield-cartoon-37607471.jpg"> </span>
        <a href="/passing" class="btn btn-info" role="button">passing</a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 btn-default">
        <span> <img src="https://thumbs.dreamstime.com/z/american-football-running-back-shield-illustration-gridiron-player-ball-facing-front-done-retro-style-set-inside-34209135.jpg"> </span>
        <a href="/rushing" class="btn btn-info" role="button">rushing</a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 btn-default">
        <span> <img src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/american-football-wide-receiver-catching-ball-cartoon_7JEn2S_SB_PM.jpg"> </span>
        <a href="/receiving" class="btn btn-info" role="button">receiving</a>
      </div>
    </div>
     -->

  <div class="card-columns">
    <div class="card bg-light">
      <div class="card-body text-center">
        <img src="https://thumbs.dreamstime.com/z/american-football-quarterback-throw-shield-cartoon-37607471.jpg">
        <a href="/passing" class="btn btn-info" role="button">passing</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
       <span> <img src="https://thumbs.dreamstime.com/z/american-football-running-back-shield-illustration-gridiron-player-ball-facing-front-done-retro-style-set-inside-34209135.jpg"> </span>
        <a href="/rushing" class="btn btn-info" role="button">rushing</a>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
       <span> <img src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/american-football-wide-receiver-catching-ball-cartoon_7JEn2S_SB_PM.jpg"> </span>
        <a href="/receiving" class="btn btn-info" role="button">receiving</a>
      </div>
    </div>
    
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>
  </div>

</body>

</html>
