<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="/sports.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/movie.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/movie1.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src="http://icons.iconarchive.com/icons/apathae/satellite/512/1-Utilities-icon.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\familyTree">
      <div class="card">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/tree-with-genealogical-family_23-2147606628.jpg">
        <h5>Family Tree</h5>
      </div>
    </a>

    <a href="\music">
      <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/rock-music-band-singers-musicians-musical-instruments-vector-flat-icons-playing-stage-rocker-man-bandana-drum-96795848.jpg">
        <h5>Music</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>