<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>
  <div class="landing-container">
    <h2>Choose A Category..</h2>
    <hr>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/american-football-quarterback-qb-throwing-cartoon_XJRihH_SB_PM.jpg">
        <div class="card-body">
          <a href="/passing" class="btn btn-primary">Passing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/american-football-wide-receiver-running-ball_m1Jhnr_SB_PM.jpg">
        <div class="card-body">
          <a href="/rushing" class="btn btn-primary">Rushing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/american-football-wide-receiver-catch-ball-cartoon_mymh2H_SB_PM.jpg">
        <div class="card-body">
          <a href="/receiving" class="btn btn-primary">Receiving Yards</a>
        </div>
      </div>
    </div>
            
    <footer>
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </div>
</body>

</html>
