<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <!-- **************** NAVIGATION ********************-->
  <%- include('partials/nav') %>

  <div class="landing-container">

    <a href="\movies">
      <div class="card">
        <img src="/images/movies.png" />
        <h5>Movies</h5>
      </div>
    </a>
    <a href="\sports">
      <div class="card">
        <img src="/images/sports.png" />
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\tools">
      <div class="card">
        <img src="/images/tools.png" />
        <h5>Useful Tools</h5>
      </div>
    </a>
    <a href="\familyTree">
      <div class="card">
        <img src="/images/familyTree.png" />
        <h5>Family Tree</h5>
      </div>
    </a>
    <a href="\music">
      <div class="card">
        <img src="/images/music.jpg" />
        <h5>Music</h5>
      </div>
    </a>
    <a href="\computers">
      <div class="card">
        <img src="/images/computers.png" />
        <h5>Computer Science</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>
</body>

</html>
