<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="container-fluid">
    <h2>Choose A Category..</h2>
    <hr>

    <div class="row mt-1">
      <div class="col-lg-3 col-md-6 col-sm-12 bg-info">
        <a href="/passing" class="btn btn-info" role="button">passing</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 bg-info">
        <a href="/rushing" class="btn btn-info" role="button">rushing</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 bg-info">
        <a href="/receiving" class="btn btn-info" role="button">receiving</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 bg-info">
        <a href="/receiving" class="btn btn-info" role="button">receiving</a>
      </div>
    </div>

    <div class="row my-0 justify-content-between">
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_NAME_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>NAME</h3>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_NPI_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>NPI</h3>
                </a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Home" asp-action="GetAllClaims" asp-route-tableName="EDI_XC_PROV_TIN_REJECTED_CLAIMS" class="btn btn-group btn-primary" style="padding:90px 90px">
                    <h3>TIN </h3>
                </a>
            </div>
        </div>

  </div>

  </main>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>
  </div>

</body>

</html>
