<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('partials/head') %>
</head>

<body class="bg-gradient-primary">
   <%- include('partials/nav') %>

   <div class="container" style="padding-top:1rem;">
      <div class="jumbotron container bg-secondary" style="margin-top:100px;">
         <img src="https://abc6onyourside.com/resources/media/d7f81e71-255d-4c01-9aef-117e76446edb-large16x9_nfllogo.jpg?1553858372512" class="img-fluid" alt="Responsive image">
          
          <section id="highlighted-content" class="has-background-alternating-grey">
                <div class="uhf-container has-padding-top-large has-padding-bottom-large">
                  <div class="columns is-multiline">
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="https://docs.microsoft.com/powershell/scripting/overview" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="overview-0" data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">			<g data-name="Layer 1">			  <path d="M49.85 11.83v46.84a.57.57 0 0 1-.57.57h-34.5a1.37 1.37 0 0 1-1.37-1.37V11.83a1.37 1.37 0 0 1 1.37-1.37h33.7a1.37 1.37 0 0 1 1.37 1.37z" fill-opacity=".3" fill="#e3e3e3"></path>			  <path d="M49.57 11.83v46.84a.57.57 0 0 1-.57.57H14.5a1.37 1.37 0 0 1-1.37-1.37v-46a1.37 1.37 0 0 1 1.37-1.37h33.7a1.37 1.37 0 0 1 1.37 1.33z" fill="none" stroke="#c8c8c8" stroke-miterlimit="10" stroke-width="1.25"></path>			  <path d="M41.47 15.14H45v35.11a3.56 3.56 0 0 0 3.53 3.06h-27.9a3.57 3.57 0 0 1-3.57-3.57v-34.6h4.52" fill="#c8c8c8" fill-opacity=".8"></path>			  <path d="M48.19 45.29H23.87v4.91a3 3 0 0 1 0 .52 3.6 3.6 0 0 1-1.71 2.59H48.21c2.56-.27 2.68-3 2.68-3.07v-4.95z" opacity=".8" fill="#e3e3e3"></path>			  <path d="M30.08 31.55h-4.71a.26.26 0 0 1-.27-.24.17.17 0 0 1 0-.1l5.65-11.28a.26.26 0 0 1 .24-.14h5.61a.25.25 0 0 1 .26.24.2.2 0 0 1 0 .13L30.17 29h6.48a.26.26 0 0 1 .27.24.24.24 0 0 1-.07.16L26.09 40.67c-.1.06-.81.66-.46-.25z" class="has-fill-current-color" fill="#0079d6"></path>			  <path d="M34.52 8.23a1.55 1.55 0 0 0 0-.22A3.25 3.25 0 1 0 28 8a1.55 1.55 0 0 0 0 .22h-6.59v8.44H41.3V8.23z" fill="#919191"></path>			</g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">Get Started</p>
                            <h2 id="overview-0" class="is-size-4 has-margin-none">Overview</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="https://docs.microsoft.com/powershell/scripting/install/installing-powershell" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="setup-and-installation-1"
                        data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">			<g style="isolation:isolate">			  <g data-name="Layer 1">				<g opacity=".1">				  <path d="M52.51 52.38h-40.1a1.12 1.12 0 0 1-1.12-1.12V25a1.13 1.13 0 0 1 1.12-1.13h40.76a.47.47 0 0 1 .47.47v26.9a1.12 1.12 0 0 1-1.13 1.14z" opacity=".3" fill="#404040"></path>				</g>				<path d="M52.51 51.92h-40.1a1.12 1.12 0 0 1-1.12-1.12V24.56a1.13 1.13 0 0 1 1.12-1.13h40.76a.47.47 0 0 1 .47.47v26.9a1.12 1.12 0 0 1-1.13 1.12z" fill="#e3e3e3" opacity=".3"></path>				<path d="M12 23.11h41.64a.48.48 0 0 1 .48.48v27.5A1.15 1.15 0 0 1 53 52.25H12a1.15 1.15 0 0 1-1.15-1.15V24.26A1.15 1.15 0 0 1 12 23.11z" stroke="#c8c8c8" stroke-width="1.25" fill="none" stroke-miterlimit="10"></path>				<circle cx="32.5" cy="17.03" r="8.8" class="has-fill-current-color" fill="#0079d6"></circle>				<path fill="#c8c8c8" d="M4.46 51.72h56v2.5a1.56 1.56 0 0 1-1.56 1.56H6a1.56 1.56 0 0 1-1.56-1.56v-2.5h.02z"></path>				<path d="M32.5 12.26v8.09m3.04-3.05l-3.04 3.04-3.04-3.04" stroke="#fff" stroke-width="1.62" fill="none" stroke-miterlimit="10"></path>				<path fill="#c8c8c8" transform="rotate(180 32.405 37.675)" d="M20.6 35.78h23.61v3.8H20.6z"></path>				<path fill="#acacac" d="M28.35 35.78h16.16v3.8H28.35z"></path>			  </g>			</g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">Download</p>
                            <h2 id="setup-and-installation-1" class="is-size-4 has-margin-none">Setup and installation</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="https://docs.microsoft.com/powershell/scripting/samples/sample-scripts-for-administration" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="sample-scripts-2"
                        data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">		  <g data-name="Layer 1">			<path d="M60 19v31.57H35.84a5.33 5.33 0 0 1-3.77 2c-1.43 0-2.23-.45-3.77-2H4.05V19h4.61v25l19.62 1.39a4.17 4.17 0 0 1 3.58 4.12h.22a4.16 4.16 0 0 1 3.58-4.12L55.28 44V19z" fill="#acacac"></path>			<path d="M32 49.54a4.16 4.16 0 0 0-3.57-4.12L8.77 44V11.44l19 1.35A4.16 4.16 0 0 1 32 17z" fill="#e3e3e3"></path>			<path d="M32 49.54a4.16 4.16 0 0 1 3.58-4.12L55.19 44V11.71l-19 1.08A4.16 4.16 0 0 0 32 17z" fill-opacity=".3" fill="#e3e3e3"></path>			<path d="M31.71 49.54a4.16 4.16 0 0 0-3.57-4.12L8.52 44V11.44l19 1.35A4.16 4.16 0 0 1 31.71 17zm.48 0a4.16 4.16 0 0 1 3.57-4.12L55.38 44V11.44l-19 1.35A4.16 4.16 0 0 0 32.19 17z" fill="none" stroke-miterlimit="10" stroke="#c8c8c8" stroke-width="1.25"></path>			<circle cx="31.96" cy="29.13" r="8.8" class="has-fill-current-color" fill="#0079d6"></circle>			<path stroke="#fff" stroke-width="1.85" fill="none" stroke-miterlimit="10" d="M27.12 29.46l3.24 3.25 5.65-7.16"></path>		  </g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">How-To Guide</p>
                            <h2 id="sample-scripts-2" class="is-size-4 has-margin-none">Sample scripts</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="http://www.powershellgallery.com/" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="powershell-gallery-3" data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">			<g style="isolation:isolate">			  <g data-name="Layer 1">				<path d="M15.63 21.8l16.22 12.63m-5.21-12.5l5.21 12.5M48.96 21.8L32.67 34.43m5.21-12.49l-5.21 12.49" stroke-width="1.22" fill="none" stroke="#c8c8c8" stroke-miterlimit="10"></path>				<path d="M49.79 23.11c-.15-1.31-2.71-2.34-5.84-2.34-2.85 0-5.21.85-5.74 2H38c-.53-1.13-2.9-2-5.74-2s-5.21.85-5.74 2h-.23c-.52-1.14-2.89-2-5.73-2-3.14 0-5.69 1-5.85 2.34a17.55 17.55 0 0 1 35.09 0z" class="has-fill-current-color" fill="#0079d6"></path>				<g opacity=".1">				  <path d="M48.63 58.3H15.37a.93.93 0 0 1-.93-.93V35.82a.93.93 0 0 1 .93-.93h33.8a.38.38 0 0 1 .39.39v22.09a.93.93 0 0 1-.93.93z" opacity=".3" fill="#404040"></path>				</g>				<path d="M48.63 57.92H15.37a.93.93 0 0 1-.93-.93V35.44a.93.93 0 0 1 .93-.93h33.8a.38.38 0 0 1 .39.39V57a.93.93 0 0 1-.93.92z" fill="#e3e3e3" opacity=".3"></path>				<path d="M15 34.56h34.54a.4.4 0 0 1 .4.4v4.28H14.06v-3.73a1 1 0 0 1 .94-.95z" opacity=".8" fill="#c8c8c8"></path>				<circle fill="#919191" cx="21.4" cy="36.86" r=".74"></circle>				<circle fill="#919191" cx="19.1" cy="36.86" r=".74"></circle>				<circle fill="#919191" cx="16.81" cy="36.86" r=".74"></circle>				<path d="M15.37 34.51h33.8a.39.39 0 0 1 .39.39V57a.93.93 0 0 1-.93.93H15.37a.93.93 0 0 1-.93-.93V35.44a.93.93 0 0 1 .93-.93z" stroke-width="1.25" fill="none" stroke="#c8c8c8" stroke-miterlimit="10"></path>				<path d="M28.85 51.71l-3.79-3.79 3.79-3.79m7.84 0l3.79 3.79-3.79 3.79M34 42.86l-2.58 10.12" opacity=".8" fill="none" stroke="#c8c8c8" stroke-miterlimit="10"></path>			  </g>			</g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">Deploy</p>
                            <h2 id="powershell-gallery-3" class="is-size-4 has-margin-none">PowerShell Gallery</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="https://docs.microsoft.com/powershell/module/" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="powershell-module-browser-4" data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">			<g data-name="Layer 1">				<path fill="none" d="M-.06.05h64v64h-64z"></path>				<path fill="#919191" d="M32.27 18.07c0-3.54 1-3.85 4.3-5.53L49.09 6v5.67L36.05 15s-3.35 2.33-3.78 3.07zM31.75 18.07c0-3.54-1-3.85-4.3-5.53L14.94 6v5.67L28 15s3.33 2.33 3.75 3.07z"></path>				<path fill="#acacac" d="M31.75 19.05c0-2.62-1.24-3.85-4.3-4.74L7.8 9.92v5.45l20.2 1.4s3.33 1.54 3.75 2.28z"></path>				<path d="M32.25 19.05c0-2.62 1.24-3.85 4.3-4.74L56.2 9.92v5.45L36 16.77s-3.33 1.54-3.75 2.28z" fill="#c8c8c8"></path>				<path fill="#acacac" d="M32.25 18.55c0-2.62 1.79-3.85 4.3-4.74L56.2 9.42v5.45L37 16.24a8 8 0 0 0-4.75 2.31z"></path>				<path d="M32.06 58.11a4.74 4.74 0 0 1 4.07-4.7l22.35-1.59V15L36.8 16.24A4.74 4.74 0 0 0 32.06 21z" fill-opacity=".3" fill="#e3e3e3"></path>				<path fill="none" stroke="#c8c8c8" stroke-miterlimit="10" stroke-width="1.25px" d="M32.27 58.11a4.74 4.74 0 0 1 4.07-4.7l22.35-1.59V14.7L37 16.24A4.74 4.74 0 0 0 32.27 21z"></path>				<path d="M32 58.11a4.74 4.74 0 0 0-4.07-4.7L5.59 51.82V14.7l21.68 1.54A4.74 4.74 0 0 1 32 21z" fill="#e3e3e3"></path>				<path fill="none" stroke="#c8c8c8" stroke-miterlimit="10" stroke-width="1.25px" d="M31.73 58.11a4.74 4.74 0 0 0-4.07-4.7L5.31 51.82V14.7L27 16.24A4.74 4.74 0 0 1 31.73 21z"></path>				<path fill="#fff" d="M34.19 38.16l-2.61-3.36-4.24.15 6.21-4.36.64 7.57z"></path>				<circle cx="32.06" cy="35.43" r="8.84" class="has-fill-current-color" fill="#0079d6"></circle>				<path fill="#fff" d="M34.65 40.58l-3.22-4.15-5.25.19 7.68-5.39.79 9.35z"></path>			</g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">Reference</p>
                            <h2 id="powershell-module-browser-4" class="is-size-4 has-margin-none">PowerShell Module Browser</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="column is-4-tablet is-4-desktop">
                      <a href="https://github.com/PowerShell/PowerShell" class="box is-block is-full-height has-padding-medium has-heavy-shadow-hover has-border-high-contrast-hover has-padding-large is-undecorated" aria-labelledby="powershell-on-github-5" data-linktype="external">
                        <div class="columns">
                          <div class=" is-hidden-mobile">
                            <div class="image is-max-64x64 has-text-windows"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">		  <g data-name="Layer 1">			<path fill="#919191" d="M49.82 12.94v6.77H24.6v-6a3.35 3.35 0 0 0-.05-.63 4.42 4.42 0 0 0-2.1-3.18h29a5.09 5.09 0 0 0-1.63 3.04zM58.67 19.71h-7.54v-6.62a3.79 3.79 0 0 1 3.74-3.21c3.64 0 3.79 3.75 3.79 3.79v6z"></path>			<path d="M54.88 9.31a4.38 4.38 0 0 0-4.33 3.76v41.05h-34.3V13.68a4.38 4.38 0 0 1 4.38-4.37z" fill-opacity=".3" fill="#e3e3e3"></path>			<path d="M54.88 8.55H20a5.12 5.12 0 0 0-5.12 5.12v41.78H51.1V13.09a3.79 3.79 0 0 1 3.74-3.21c3.64 0 3.79 3.75 3.79 3.79v6H60v-6a5.08 5.08 0 0 0-5.12-5.12zm-5.06 4.39V54.12H16.25V13.67A3.79 3.79 0 0 1 20 9.88h31.45a5.09 5.09 0 0 0-1.63 3.06z" fill="#e3e3e3"></path>			<path d="M10 27.08l10.77 8.56H10v-8.56M4 14.69v26.94h33.93L4 14.69z" class="has-fill-current-color" fill="#0079d6"></path>		  </g>		</svg>                              </div>
                          </div>
                          <div class="column is-9 has-padding-top-extra-small">
                            <p class="is-size-8 has-margin-none has-text-subtle is-uppercase">Architecture</p>
                            <h2 id="powershell-on-github-5" class="is-size-4 has-margin-none">PowerShell on GitHub</h2>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </section>

          

      </div>

      <footer>
         <%- include('partials/footer') %>
      </footer>

      <%- include('partials/scripts') %>
   </div>

</body>

</html>
