<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
<<<<<<< HEAD
=======
  <style>
    .landing-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      box-shadow: .8px 55px 50px -20px #b6b6b6;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }

    .card {
      margin: 8px;
      height: 250px;
      width: 250px;
      border: none;
      box-shadow: 0px 2px 4px 4px lightgrey;
      background-color: whitesmoke;
      vertical-align: middle;
    }

    img {
      height: 210px;
      width: 220px;
      margin: 8px auto 5px auto;
      border-radius: 5%
    }

    .landing-container a {
      color: black
    }

    @media only screen and (max-width: 560px) {
      h5 {
        font-size: 1rem;
      }

      .card {
        margin: 5px;
        height: 200px;
        width: 200px;
      }

      img {
        height: 160px;
        width: 150px;
        margin: 8px auto;
      }

      .table tbody td {
        font-size: 75%;
      }
    }

    @media only screen and (max-width: 460px) {

      .card {
        margin: 5px;
        height: 195px;
        width: 175px;
      }

      img {
        height: 160px;
        width: 150px;
      }
    }

    @media only screen and (max-width: 380px) {
      .card {
       height: 205px;
        width: 190px;
      }

      img {
        height: 160px;
        width: 160px;
      }
    }

    @media only screen and (max-width: 340px) {
      .card {
        height: 150px;
        width: 130px;
      }

      img {
        height: 110px;
        width: 100px;
      }
    }
  </style>
>>>>>>> 261d1b98d65bfaee6bd02417e9afa340304da119
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="http://aux4.iconspalace.com/uploads/902826839.png">
        <h5>NFL Stats</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="https://images.freecreatives.com/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
<<<<<<< HEAD
        <img class="card-img-top" src=" https://dejpknyizje2n.cloudfront.net/marketplace/products/swiss-army-pocket-knife-icon-1539101907.8507106.png">
        <h5>Useful Tools</h5>
=======
        <img src="https://img.buffalonews.com/eyJidWNrZXQiOiJibmNvcmUiLCJrZXkiOiJ3cC1jb250ZW50XC91cGxvYWRzXC8yMDE5XC8xMVwvNTQzNjkwNy1lMTU3NDc4MDYzNDM2MS5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjkwMCwiaGVpZ2h0Ijo1NzAsImZpdCI6ImNvdmVyIn19fQ==" />
        <h5>Defense</h5>
>>>>>>> 261d1b98d65bfaee6bd02417e9afa340304da119
      </div>
    </a>

  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
