<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="landing-container">
    <h2>Choose A Category..</h2>
    <hr>

    <div class="card-group">
      <div class="card text-center">
        <img class="card-img-top" src="https://rfathead-res.cloudinary.com/image/upload/q_auto,f_auto/c_pad,h_900/g_north,c_crop,h_900,w_900/c_pad,h_900,w_900/prod/12-21605_drew_bress_home_pdp.jpg">
        <div class="card-body">
          <a href="/passing" class="btn btn-primary">Passing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/sathyja1arm00kfpzieb.png">
        <div class="card-body">
          <a href="/rushing" class="btn btn-primary">Rushing Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/uepgulosll0dbly10811.png">
        <div class="card-body">
          <a href="/receiving" class="btn btn-primary">Receiving Yards</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://www.graphicsfactory.com/clip-art/image_files/image/5/1436895-american_football_player_squat_front.jpg">
        <div class="card-body">
          <a href="/defense" class="btn btn-primary">Defense</a>
        </div>
      </div>

    </div>


    <footer>
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </div>




</body>

</html>
