<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">

    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="https://bpng.subpng.com/dy/1420763760784817a7b561644b8b206f/L0KzQYi4UsE5N2U6UJGAYUO6drXsVBU1QWprSJCAMUm8RoK8UME2OWQ7SaoEMUm8Q4e7TwBvbz==/5a37fde7e499f0.5199615015136189199364.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/images/movie.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/images/movie1.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src="/images/utility.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\familyTree">
      <div class="card">
        <img class="card-img-top" src="/images/familyTree.png">
        <h5>Family Tree</h5>
      </div>
    </a>

    <a href="\music">
      <div class="card">
        <img class="card-img-top" src="/images/music.png">
        <h5>Music</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
