<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="http://aux4.iconspalace.com/uploads/902826839.png">
        <h5>NFL Stats</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="https://images.freecreatives.com/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src=" https://dejpknyizje2n.cloudfront.net/marketplace/products/swiss-army-pocket-knife-icon-1539101907.8507106.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>