<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="bg-gradient-primary">
  <%- include('partials/nav') %>

  <div class="container" style="padding-top:1rem;">

    <div class="row">
      <div class=" col-sm-3 MyButton"><img src="" alt="">d</div>
      <div class="col-sm-3 MyButton"><img src="" alt="">d</div>
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
    </div>
    <div class="row">
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
      <div class="col-sm-3 MyButton"><img src="" alt=""></div>
    </div>

    </main>



    <footer>
      <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>
  </div>

</body>

</html>