<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="landing-container">
    <h2>Choose A Category..</h2>
    <hr>

     <div class="card">
     <img class="card-img-top" src="https://thumbs.dreamstime.com/z/american-football-quarterback-throw-shield-cartoon-37607471.jpg">
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/passing" class="btn btn-primary">Passing Yards</a>
     </div>
  
  <div class="card">
     <img class="card-img-top" src="https://thumbs.dreamstime.com/z/american-football-quarterback-throw-shield-cartoon-37607471.jpg">
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/rushing" class="btn btn-primary">Rushing Yards</a>
     </div>
  </div>

  <div class="card">
     <img class="card-img-top" src="https://thumbs.dreamstime.com/z/american-football-quarterback-throw-shield-cartoon-37607471.jpg">
     <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="/receiving" class="btn btn-primary">Receiving Yards</a>
     </div>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>
  </div>

</body>

</html>
