<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">

    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="https://r0.pngfuel.com/path/662/687/806/basketball-sports-equipment-sports-league-woodville-tompkins-institute-basketball-7f2106fcda9e8e8a7d8d4ed266cde719.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/images/movie.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="/images/movie1.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src="/images/utility.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

    <a href="\familyTree">
      <div class="card">
        <img class="card-img-top" src="/images/familyTree.png">
        <h5>Family Tree</h5>
      </div>
    </a>

    <a href="\music">
      <div class="card">
        <img class="card-img-top" src="https://p7.hiclipart.com/path/143/855/677/computer-icons-itunes-music-button-6c27aae004489f9461c4611ca4cc4c78.png">
        <h5>Music</h5>
      </div>
    </a>
  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
