<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <style>
     .landing-container {
       display:flex;
       width: 95%;
       margin: 2rem auto auto auto;
       padding: 2rem 0px;
       box-shadow: .8px 55px 50px -20px #b6b6b6;
       justify-content: space-between;
     }
     .card {
       margin: 20px auto;
       width: 300px;
       height: 230px;
       border: none;
       box-shadow: 0px 3px 5px 1px #c9c7c7;
       background-color: whitesmoke;
       vertical-align: middle;
     }
     img {
       margin: 8px auto 5px auto;
       border: .2px solid rgba(53,49,51,0.32);
       border-radius: 5%
     }
  </style>
</head>

<body>
  <%- include('partials/nav') %>

  <div class="container">  
     <h5 class="My-5 font-weight-bold">Choose A Category</h5>
  </div>
 
  <div class="landing-container">  
    
    <a href="/passing" class="card btn btn-dark"> 
      <img src="https://img.pngio.com/3dqb-drew-brees-png-hd-358_309.png"/>
    </a>
    <a href="/rushing" class="card btn btn-dark"> 
       <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/sathyja1arm00kfpzieb.png"/>
    </a>
    <a href="/receiving" class="card btn btn-dark"> 
      <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/w_400,f_png/nfl100/gnu3tgv2vuqwev6eiuju.png"/>
    </a>
    <a href="/defense" class="card btn btn-dark"> 
       <img src="https://png2.cleanpng.com/sh/2c8f918369be2a01c11564bdb0bcdfa7/L0KzQYm3VsA0N6VugJH0aYP2gLBuTfFubaNue9N3LXbyf8XpgfxtNZlqhN9udIOwcsbthvFtd15ngd51cz3xdr20VfIyPGM1faNrOEbmdIO1UcIzPGQ9SKk6NUK7QIW8V8k0P2Y6TJD5bne=/kisspng-american-football-helmets-buffalo-bills-nfl-5b1420e1b86cd2.1224380715280457937554.png"/>
    </a>

  </div>
  
  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>
</html>
