<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/nav') %>

  <h5 class="chooseTitle">Choose A Category </h5>

  <div class="landing-container">
    <a href="\nfl">
      <div class="card">
        <img class="card-img-top" src="http://www.pngall.com/wp-content/uploads/1/Sports-PNG-File-Download-Free.png">
        <h5>Sports</h5>
      </div>
    </a>
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="https://p7.hiclipart.com/path/940/445/158/ticket-film-cinema-cinema-ticket-bbc4c78ae9334f7fd7a535370d42469c.png">
        <h5>Movies</h5>
      </div>
    </a>
    
    <a href="\movies">
      <div class="card">
        <img class="card-img-top" src="https://download.kissclipart.com/dload/2f471eb1714ad445bfcbca667033b024/L4Dxd3E5UME5OGk3UZH7dXWye7r6kBNtcaFmiuY2bXB5eba0gf5lNaF0iNV4cn6wc73wkPFzfF5rgd52LXPsfrb0gb11epJuhNd7LXW0crWAgsdmapQ3eqMBZnOxgLBu/kissclipart-movie-and-popcorn-clipart-film-cinema-trailer-e1bd7b7ebc2b16fc.png">
        <h5>Movies</h5>
      </div>
    </a>

    <a href="\tools">
      <div class="card">
        <img class="card-img-top" src="http://icons.iconarchive.com/icons/apathae/satellite/512/1-Utilities-icon.png">
        <h5>Useful Tools</h5>
      </div>
    </a>

  </div>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <%- include('partials/scripts') %>

</body>

</html>
