<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleMusic.css" />
</head>

<body>
    <!-- **************** NAVIGATION ********************-->
    <%- include('partials/nav') %>

    <!-- **************** CONTAINER ********************-->
    <div class="container-fluid">

        <h2 id="title">Music</h2>

        <!-- ***************** TABLE ********************-->
        <div> <img src="/images/underConstruction.jpg" class="underConstruction my-2"> </div>
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>
    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="scripts/music.js"></script>
</body>

</html>