<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/nav') %>

    <div class="landing-container">
        <a href="\passing">
            <div class="card">
                <img class="card-img-top" src="https://img.pngio.com/3dqb-drew-brees-png-hd-358_309.png">
                <h5>Passing</h5>
            </div>
        </a>
        <a href="\rushing">
            <div class="card">
                <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/f_png/nfl100/sathyja1arm00kfpzieb.png" />
                <h5>Rushing</h5>
            </div>
        </a>
        <a href="\receiving">
            <div class="card">
                <img src="https://static.clubs.nfl.com/image/private/t_editorial_squared_6_desktop/w_400,f_png/nfl100/gnu3tgv2vuqwev6eiuju.png" />
                <h5>Receiving</h5>
            </div>
        </a>
        <a href="\defense">
            <div class="card">
                <img src="" />
                <h5>Defense</h5>
            </div>
        </a>
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>

</body>

</html>