<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleSports.css" />
</head>

<body>
    <%- include('partials/nav') %>

    <div class="landing-container">
        <a href="\passing">
            <div class="card">
                <img src="/images/passing.png" />
                <h5>Passing</h5>
            </div>
        </a>
        <a href="\rushing">
            <div class="card">
                <img src="/images/rushing.png" />
                <h5>Rushing</h5>
            </div>
        </a>
        <a href="\receiving">
            <div class="card">
                <img src="/images/receiving.png" />
                <h5>Receiving</h5>
            </div>
        </a>
        <a href="\defense">
            <div class="card">
                <img src="/images/defense.png" />
                <h5>Defense</h5>
            </div>
        </a>
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>

</body>

</html>