<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/styleTools.css" />
</head>

<body>
    <!-- **************** NAVIGATION ********************-->
    <%- include('partials/nav') %>

    <!-- **************** CONTAINER ********************-->
    <div class="landing-container">

        <!-- ROW 1 -->
       <div class="container mx-auto">
         <form action="/compare-2-lists-difference-tool" method="POST" enctype="multipart/form-data">

            <!-- Service Panels -->
            <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
            <div class="row">
                <div class="col-md-6 col-xs-12 LDSwitch">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4>List A <span id="linesA" class="badge bdg-size pull-right" title="Lines:">0</span>
                                <span id="dupesA" class="badge bdg-size pull-right" title="Duplicates:"> 0</span></h4>
                        </div>
                        <div class="panel-body">
                            <textarea id="txtBoxA" class="form-control LDSwitchArea" name="lstA" rows="10"></textarea>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12 LDSwitch">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4>List B <span id="linesB" class="badge bdg-size pull-right" title="Lines:">0</span>
                                <span id="dupesB" class="badge bdg-size pull-right" title="Duplicates:">0</span></h4>
                        </div>
                        <div class="panel-body">
                            <textarea id="txtBoxB" class="form-control LDSwitchArea" name="lstB" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <input type="submit" form="LDForm" class="btn btn-lg btn-primary" value="Compare Lists">
            </div>
            <!-- </form> -->
        </form>
       </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>A Only <span id="linesAOnly" class="badge bdg-size pull-right">0</span></h4>
                    </div>
                    <div class="panel-body">
                        <textarea id="txtAOnly" class="form-control" rows="10" placeholder="Values in A Only"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 ">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4>A &cap; B <span id="linesAuB" class="badge bdg-size pull-right">0</span></h4>
                    </div>
                    <div class="panel-body">
                        <textarea id="txtAnB" class="form-control" rows="10" name="AunionB" placeholder="Values in A AND B"></textarea>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>B Only <span id="linesBOnly" class="badge bdg-size pull-right">0</span></h4>
                    </div>
                    <div class="panel-body">
                        <textarea id="txtBOnly" class="form-control" rows="10" placeholder="Values in B Only"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 col-xs-12" id="adDiv2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>A &cup; B <span id="linesAnB" class="badge bdg-size pull-right">0</span></h4>
                    </div>
                    <div class="panel-body">
                        <textarea id="txtAuB" class="form-control" rows="10" placeholder="Values in A OR B"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            <%- include('partials/footer') %>
        </footer>

        <%- include('partials/scripts') %>
        <script type="text/javascript" src="Scripts/tools.js"></script>
</body>

</html>
