<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/nav') %>

    <h5 class="chooseTitle">Choose A Tool </h5>
    <div class="landing-container">
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 1</h5>
            </div>
        </a>
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 2</h5>
            </div>
        </a>
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 3</h5>
            </div>
        </a>
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 4</h5>
            </div>
        </a>
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 5</h5>
            </div>
        </a>
        <a href="\">
            <div class="card">
                <img class="card-img-top" src="">
                <h5>Category 5</h5>
            </div>
        </a>
    </div>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>

</body>

</html>