<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/styleTools.css" />

<div class="container">
   <h1 id="title">Tools</h1>

   <div class="card bg-light">
   <h2>Percent Calculator</h2>
   <div class="card-body p-2">
      <form action="/tools" method="post">
         <div class="input-group-append">
         <input type="text" name="part" class="form-control" placeholder="Part" required />
         </div>
         <div class="input-group-append">
         <input type="text" name="whole" class="form-control" placeholder="whole" required />
         </div>
         <input type="submit" class=" w-50 my-3 btn btn-primary" />
      </form>

      <h6> <%= operation %> </h6>
      <h2 class=".text-primary"><%= result %> % </h2>
   </div>
   </div>
</div>