<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/stylesheets/styleSports.css" />
</head>

<body>
   <!-- **************** NAVIGATION ********************-->
   <%- include('../partials/nav') %>

   <!-- **************** CONTAINER ********************-->
   <div class="container-fluid">
      <div class="container" style="text-align: start; margin:0px; border:1px solid black;">
         <a href="/sports">Go Back</a>
      </div>

      <h2 id="title">Passing Yards</h2>

      <!-- ***************** TABLE ********************-->
      <div class="table-responsive-md ">
         <table class="table table-striped table-dark">
            <thead>
               <span> + denotes HOF </span>
               <tr>
                  <th id="Rank" scope="col"></th>
                  <th id="Player" scope="col">Player</th>
                  <th id="Yards" scope="col">Yards</th>
                  <th id="Years" scope="col">Years</th>
                  <th id="Team" scope="col">Team</th>
               </tr>
            </thead>
            <!--*****POPULATE TABLE WITH JAVASCRIPT*******-->
            <tbody>
            <tbody>
         </table>
      </div>
   </div>
   
   <footer>
      <%- include('../partials/footer') %>
   </footer>

   <script type="text/javascript" src="/scripts/passing.js"></script>
</body>

</html>
