<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="/stylesheets/styleSports.css" />
</head>

<body>
   <!-- **************** NAVIGATION ********************-->
   <%- include('partials/nav') %>

   <!-- **************** CONTAINER ********************-->
   <div class="container-fluid">

      <h2 id="title">Rushing Yards</h2>

      <!-- ***************** TABLE ********************-->
      <div class="table-responsive-md my-3">
         <table class="table table-striped table-dark">
            <thead>
               <span> + denotes HOF </span>
               <tr>
                  <th id="Rank" scope="col"></th>
                  <th id="Player" scope="col">Player</th>
                  <th id="Yards" scope="col">Yards</th>
                  <th id="Years" scope="col">Years</th>
                  <th id="Team" scope="col">Team</th>
               </tr>
            </thead>
            <!--*****POPULATE TABLE WITH JAVASCRIPT*******-->
            <tbody>
            <tbody>
         </table>
      </div>

      <footer>
         <%- include('partials/footer') %>
      </footer>
   </div>

   <script type="text/javascript" src="scripts/rushing.js"></script>
</body>

</html>