body {}


h1 {
   font-family: arial, verdana, sans-serif;
   font-size: 2.5em;
}

.container {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
   align-items: center;
   justify-items: center;
   /* adjusted */
}