body {
   text-align: center;
}


h1 {
   font-family: arial, verdana, sans-serif;
   font-size: 2.5em;
}

.container {
   margin: 3rem auto;
   width: 75%;
   box-shadow: 2.5px 2px 2px 2.5px #c9c7c7;
}