body {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container-fluid {
   background-color: whitesmoke;
   width: 90%;
   margin: 1rem auto auto auto;
   padding: 2rem 0px;
   box-shadow: 5px 55px 50px -20px #b6b6b6;
}

/*********************************************
/**         LANDING PAGE START              **/
/*********************************************/
.landing-container {
   width: 95%;
   height: 100%;
   margin: 2rem auto auto auto;
   padding: 2rem 0px;
   box-shadow: .8px 55px 50px -20px #b6b6b6;
}

.card:hover {
   box-shadow: 0 5px 10px 0 rgba(49, 48, 49, 0.486);
}

a.btn:hover {
   background-color: #41474d;
}

/*********************************************
/**           LANDING PAGE END **/
/*********************************************/

table {
   box-shadow: 10px 10px 5px #aaaaaa;
   background-color: rgb(180, 214, 211);
   border-collapse: separate;
   border-spacing: 2px;
}

.table {
   margin: auto;
   width: 50%;
}

.table thead th {
   font-size: 150%;
   padding: 10px 10px;
   color: darkgray;
}

.table tbody td {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px 5px;
   font-size: 90%;
}

#total {
   font-size: 1.5em;
}

/***********************************************
		RESPONSIVE RESIZING
***********************************************/
@media only screen and (max-width: 800px) {
   .container-fluid,
   .table {
      width: 95%;
   }

   #title {
      font-size: 2em;
   }

   .table thead th {
      font-size: 120%;
   }
}

@media only screen and (max-width: 600px) {
   .container-fluid {
      width: 98%;
      padding: 4rem 2px;
   }

   .row {
      width: 85%;
   }

   .table {
      width: 100%;
      margin: 0px;
   }

   .table thead th {
      font-size: 105%;
   }

   .table tbody td {
      font-size: 80%;
   }
}

@media (min-width: 576px) {
   .card-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .card {
      margin: 5px 5px;
   }

   .card-img-top {
      height: 65%;
      width: 65%;
    }
}

@media only screen and (max-width: 450px) {
   .table tbody td {
      font-size: 75%;
   }
}

@media only screen and (max-width: 400px) {
   .table tbody td {
      font-size: 65%;
   }

   .row {
      width: 95%;
   }
}

@media only screen and (max-width: 375px) {
   .table tbody td {
      font-size: 55%;
   }
}
